{% extends 'layout.html' %}

{% block title %}
    GPA Calculator
{% endblock %}

{% block main %}
    <form action='/' method='post'>
        <div class='form-group'>
            <input autocomplete='off' autofocus class='form-control' name='classname' placeholder='Class Name' type='text' required>
            <select name='grade'>
                <option>A+</option>
                <option>A</option>
                <option>A-</option>
                <option>B+</option>
                <option>B</option>
                <option>B-</option>
                <option>C+</option>
                <option>C</option>
                <option>C-</option>
                <option>D+</option>
                <option>D</option>
                <option>D-</option>
                <option>F</option>
            </select>
            <input autocomplete='off' autofocus class='form-control' name='bump' placeholder='Grade Bump' type='text' onkeypress='validate(event)' required>
            <input autocomplete='off' autofocus class='form-control' name='credits' placeholder='Credits' type='text' onkeypress='validate(event)' required>
            <button class='btn btn-primary' type='submit'>Add Class</button>
        </div>
    </form>
    <table class='table table-striped'>
        <thead>
            <th>Class Name</th>
            <th>Grade</th>
            <th>Quality Points</th>
            <th>GPA bump</th>
            <th>Credits</th>
            <th>Total Quality Points</th>
        </thead>

        <tbody>
            {% for t in data %}
            <tr>
                {% for item in t %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

            <!-- Total -->
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ total }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}